@import url("../base.css");
footer {
    background-color: #262F3D;
}
footer {
    bottom: 0;
    height: 1.4rem;
    overflow:hidden;
}
header, footer {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
footer {
    bottom: 0;
    display: -webkit-box;
    display: box;
    border-top: 1px solid #C8C8C8;
}