.section_container{
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 3;
    background: #64A4E1;
    background-image: -webkit-linear-gradient(top left, #64A4E1, #2CCD8A);
    background-image: -moz-linear-gradient(top left, #64A4E1, #2CCD8A);
    background-image: -o-linear-gradient(top left, #64A4E1, #2CCD8A);
    background-image: linear-gradient(to bottom right, #64A4E1, #2CCD8A);
}