@import url("../base.css");
.wasabi-section_container{
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: white;
}
.wasabi-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    display: none;
}
.wasabi-page.active
{
    display: block;

}