/*create by wangzhiyong*/
/*date:2016-08-22*/
/*dasc:列表的样式*/
@import url("../base.css");
.wasabi-data-ul
{
    padding: 0px;
    margin: 0px;
}
.wasabi-data-li
{
    padding-top: 0.4533333333rem;
    padding-bottom: 0.50666666rem;
    list-style: none;
    padding-left:0.32rem;
    padding-right:0.32rem;
    border-bottom:1px solid #cccccc;
    width:100%;

}


.wasabi-data-li:first-child
{
    border-top:1px solid #cccccc;
}

.wasabi-data-li.divider
{
    height: 0.32rem;
    line-height: 0.32rem;
    background-color: #eeeeee;
    color: #666666;
    padding-top: 0.16rem;
    padding-bottom: 0.16rem;

}
@media screen and (-webkit-min-device-pixel-ratio:1){
    .wasabi-data-li.divider{
        font-size: 12px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:2){
    .wasabi-data-li.divider{
        font-size: 24px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:3){
    .wasabi-data-li.divider{
        font-size: 36px;
    }
}


    .wasabi-data-li .title
{
    width:75%;
    margin-bottom: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;

}
@media screen and (-webkit-min-device-pixel-ratio:1){
    .wasabi-data-li .title{
        font-size: 16px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:2){
    .wasabi-data-li .title{
        font-size: 32px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:3){
    .wasabi-data-li .title{
        font-size: 48px;
    }
}

.wasabi-data-li .aside

{
    float: right;
    padding-bottom: 0.0533333333rem;
    padding-top: 0.0533333333rem;
    font-size: 24px;
    color: #999999;
    display: inline-block;
}
@media screen and (-webkit-min-device-pixel-ratio:1){
    .wasabi-data-li .aside{
        font-size: 12px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:2){
    .wasabi-data-li .aside{
        font-size: 24px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:3){
    .wasabi-data-li .aside{
        font-size: 36px;
    }
}


.wasabi-data-li .content *
{

}
.wasabi-data-li .content
{
    margin-bottom: 0.2133333333rem;
    color: #999999;
}
@media screen and (-webkit-min-device-pixel-ratio:1){
    .wasabi-data-li .content *{
        font-size: 12px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:2){
    .wasabi-data-li .content *{
        font-size: 13px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:3){
    .wasabi-data-li .content *{
        font-size: 39px;
    }
}

.wasabi-data-li .content .li:last-child
{
    margin-bottom: 0rem;
}
