@import url("../base.css");
body{ padding-bottom:0.96rem;}
.wasabiH-linkbutton{
    height: 1.4rem;
    padding-top: 0.186666666rem;
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.wasabiH-linkbutton .Link{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 99999;
}
.wasabiH-icon{
    width: 0.65rem;
    height:0.65rem;
    display: inline-block;
    background-size: 0.65rem 0.65rem;
    vertical-align: bottom;
}
.wasabiH-title{
    padding-top: 0.08rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #929292;
}
.wasabiH-title.active{
    color: #3aaeff;
}