@import url("../base.css");
body{ padding-bottom:1.27rem;}
.wasabiH-linkbutton{
    height: 1.27rem;
    padding-top: 0.2rem;
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}
.wasabiH-icon{
    width: 0.64rem;
    height:0.64rem;
    display: inline-block;
    background-size: 0.64rem 0.64rem;
    vertical-align: bottom;
}
.wasabiH-title{
    padding-top: 0.11rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #929292;
}
.wasabiH-title.active{
    color: #3aaeff;
}